[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"

[scripts]
lint = "ruff check lambda_gpt"
format = "ruff check lambda_gpt --fix-only --unsafe-fixes"